#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 6px;
	/*background-color: #0A5F44;*/
	display: none;
}

#progressBar div {
  height: 100%;
  text-align: center;
  padding: 0;
  line-height: 6px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #fe4a49;
  box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

#userinput {
	display: none;
	border: 0;
	border-bottom: 3px solid #fed766;
	background-color: #f2f2f2;
	font-size: 2em;
	text-align: center;
}
#training {
	display: none;
}

tbody {
	background-color: #f2f2f2;
}

#answer {
	color: #fe4a49;
	font-size: 3em;
}

#question {
	color: #009fb7;
	font-size: 3em;
}
.form-group {
	text-align: left;
}
