#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 6px;
	/*background-color: #0A5F44;*/
	display: none;
}

#progressBar div {
  height: 100%;
  text-align: center;
  padding: 0;
  line-height: 6px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #fe4a49;
  box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

#userinput {
	display: none;
	border: 0;
	border-bottom: 3px solid #fed766;
	background-color: #f2f2f2;
	font-size: 2em;
	text-align: center;
}
#training {
	display: none;
}

tbody {
	background-color: #f2f2f2;
}

#answer {
	color: #fe4a49;
	font-size: 3em;
}

#question {
	color: #009fb7;
	font-size: 3em;
}
.form-group {
	text-align: left;
}


/*Add words widget*/
table input[type="text"] {
	border: none;
	/*border-bottom: 2px solid #afa;*/
	/*border-left: 1px solid #ddd;*/
	width: 100%;
	height: 100%;
	border-radius: none;
	background-color: white;
	padding: 6px;
	display: block;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
tr#add-word {
	background-color: #9dd9eb;
	border-bottom: 1px solid #9dd9eb;
}
td.add-word {
	padding: 0 !important;
	background-color: #fff;
	border-right: 1px solid #9dd9eb;
	border-top: 0px !important;
}
tr#add-word td, tr#add-word th {
	border-top: 0px !important;
	padding: 5px 8px 2px 8px;
	/*padding: 0 !important;*/
}
tr#table-info {
	background-color: #5bc0de;
	color: #fff;
}
tr#table-info td {
	padding: 0px 8px 1px 8px;
}


table {
	counter-reset: rowNumber;
}
table tbody tr {
	counter-increment: rowNumber;
}
tbody tr th.inner-table::before {
	content: counter(rowNumber);
}
table select.form-control {
	border-radius: 0;
	border: none;
	/*border-left: 1px solid #ddd;*/
	width: 100%;
	height: 100%;
	box-shadow: none;
	padding: 6px;
	/*appearance: none;*/
	/*-moz-appearance: none;*/
	/*-webkit-appearance: none;*/
	/*line-height: 0;*/
}
table select.form-control option {
	padding: 0px;
	margin: 0 !important;
	border: 0;
	height: 100%;
}
option {
	margin: 0;
	margin-top: 0px;
}

/*Edit Word Styles*/
td.edit-word {
	padding: 0 !important;
	position: relative;
	border-left: 1px solid #eee;
}
td.edit-word input[type="text"], tr.edit-word select {
	position: absolute !important;
	height: 100% !important;
	margin: 0px;
}
.btn, .textinput {
	border-radius: 0;
}









