{% extends 'memo/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


{% if request.user.is_authenticated %}
<div id="hello">
	<h1 class="cover-heading">
		Hello, <strong>{{ request.user.username }}</strong>!
	</h1>
	{% if wordcount > 0 %}
	<p class="lead">
	You have {{ wordcount }} words in your vocabulary!
	</p>
	<p class="lead">
	<a href="#" id="startFromHello" class="btn btn-lg btn-default">Start training</a>
	</p>
	{% else %}
	<p class="lead">
	You have no words in your vocabulary.
	</p>
	<p class="lead">
	<a href="{% url 'words' %}" class="btn btn-lg btn-default">Add words</a>
	</p>
	{% endif %}

</div>


<div id="training">
	<p id="question"></p>
	<div id="progressBar"><div></div></div>
	{% csrf_token %}
	<input type="text" id="userinput">
	<p id="message"></p>
	<p id="answer"></p>
</div>

{% else %}
<h3>Login (or <a href="{% url 'register' %}">register</a>)</h3>
<form method="POST" action="{% url 'login' %}">
	{% csrf_token %}
	{{ form|crispy }}
<!--<p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="254" required id="id_username" autofocus /></p>-->
<!--<p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password" /></p>-->
	<input class="btn btn-default btn-lg" type="submit" value="Submit">
</form>
{% endif %}

{% endblock %}
{% if request.user.is_authenticated %}
{% include 'memo/navbar.html' %}
{% endif %}

			
			
			





